header, .blog:not(:last-child) {
    border-bottom: 5px solid purple;
  }

  a {
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
  }

  body {
    background-color: steelblue;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: chocolate;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  